<!doctype html>  
 
<head> 
  
 
 <title>Machine Learning Project</title> 
   
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_.css') }}">
  
  <script src="js/libs/modernizr-1.6.min.js"></script> 
 
</head> 
 
<body> 
 <div id="container"> 
  	<div class="extra_wrap"> 
  	 <!-- header --> 
     <header > 
      <!-- .logo --> 
         <div class="logo"> <a href="{{url_for('home')}}">
   <img src="{{ url_for('static',filename='images/logo.png') }}" height=75px width=55px alt="Machine Learning" title="Machine Learning" ></a></div> 
         <!-- /.logo --> 
         <nav> 
         <ul class="sf-menu"> 
 
 <li><a href="{{url_for('home')}}" class="current">Home</a></li> 
 
           
 <li><a >Features</a>
 <ul> 
 <li><a href="#">Content</a></li>
 </ul>
 </li> 
 
 <li><aFeatures</a>
 <ul> 
 <li><a href="#">Effects</a></li>
 </ul>
 </li>
 
 <li><a>Services</a> 
 <ul>
 <li><a href="#">Content</a></li> 
 </ul>
 </li>
 
 <li><a href="{{url_for('about')}}">About Us</a></li>          
         
         </ul> 
       </nav> 
     </header > 
 <!--EOF header-->
 <hr>
    <div id="main"> 

Content to be added

</div>
<footer> 
		<div class="copy">&copy; Copyright 2021, print("Hello World")</div> 
       
    </footer> 
</div>
</div>
</body>
</html>

